<!DOCTYPE html>
<html lang="en">

<head>
    <title>DGT College</title>
    <!-- META TAGS -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
   
    <!-- FAV ICON(BROWSER TAB ICON) -->
    <link rel="shortcut icon" href="images/dgt/logo.png" type="image/x-icon">
    <!-- GOOGLE FONT -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700%7CJosefin+Sans:600,700" rel="stylesheet">
    <!-- FONTAWESOME ICONS -->
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <!-- ALL CSS FILES -->
    <link href="css/materialize.css" rel="stylesheet">
    <link href="css/bootstrap.css" rel="stylesheet" />
    <link href="css/style.css" rel="stylesheet" />
    <!-- RESPONSIVE.CSS ONLY FOR MOBILE AND TABLET VIEWS -->
    <link href="css/style-mob.css" rel="stylesheet" />
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
</head>

<body>

    <!-- MOBILE MENU -->
    <section>
        <div class="ed-mob-menu">
            <div class="ed-mob-menu-con">
                <div class="ed-mm-left">
                    <div class="wed-logo">
                        <a href="index.html"><img src="images/dgt/logo.png" alt="" />
                        </a>
                    </div>
                </div>
                <div class="ed-mm-right">
                    <div class="ed-mm-menu">
                        <a href="#!" class="ed-micon"><i class="fa fa-bars"></i></a>
                        <div class="ed-mm-inn">
                            <a href="#!" class="ed-mi-close"><i class="fa fa-times"></i></a>
                            <h4>All Courses</h4>
                            <ul>
                                <li><a href="#">Accounting/Finance</a></li>
                                <li><a href="#">civil engineering</a></li>
                                <li><a href="#">Art/Design</a></li>
                                <li><a href="#">Marine Engineering</a></li>
                                <li><a href="#">Business Management</a></li>
                                <li><a href="#">Journalism/Writing</a></li>
                                <li><a href="#">Physical Education</a></li>
                                <li><a href="#">Political Science</a></li>
                                <li><a href="#">Sciences</a></li>
                                <li><a href="#">Statistics</a></li>
                                <li><a href="#">Web Design/Development</a></li>
                                <li><a href="#">SEO</a></li>
                                <li><a href="#">Google Business</a></li>
                                <li><a href="#">Graphics Design</a></li>
                                <li><a href="#">Networking Courses</a></li>
                                <li><a href="#">Information technology</a></li>
                            </ul>
                            <h4>User Account</h4>
                            <ul>
                                <li><a href="#!" data-toggle="modal" data-target="#modal1">Sign In</a></li>
                                <li><a href="#!" data-toggle="modal" data-target="#modal2">Register</a></li>
                            </ul>
                           
                            <h4>User Profile</h4>
                            <ul>
                                <li><a href="#">User profile</a></li>
                                <li><a href="#">Courses</a></li>
                                <li><a href="#">Exams</a></li>
                                <li><a href="#">Prfile</a></li>
                                <li><a href="#">Time line</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
 <!--HEADER SECTION-->
 <section>
    <!-- LOGO AND MENU SECTION -->
    <div class="top-logo"  data-offset-top="250">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="wed-logo">
                        <a href="index.html"><img src="images/dgt/logo.png" alt="" style="width: 120px;" />
                        </a>
                    </div>
                    <div class="main-menu" style="width: 70%;">
                        <ul style="text-align: center;float: left;">
                            <li>
                                <p style="margin: 0 0 1px;">|| TAMASO MA JOTIRGAMAY ||<br/> TALE VIBHAG SHIKSHAN PRASARAK MANDALS'S</p>
                                <h2 style="margin-top:0; color:#2e7464">D. G. TATKARE ARTS & COMMERCE COLLEGE, TALA</h2>
                                <p style="margin: 0 0 1px;">Tal. Tala, Dist - Raigad - 402111<br/><i class="fa fa-phone-square" aria-hidden="true" style="color: #2e7464;"></i> : 02140269575, 9273499354, <i class="fa fa-envelope" aria-hidden="true" style="color: #2e7464;"></i> : dgtcollegetala1@yahoo.co.in</p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="all-drop-down-menu">
                </div>
            </div>
        </div>
    </div>
    <div class="red_topNav">
        <div class="marquee" > 
            <marquee direction="left" scrollamount="4">
                <p style="color:#FFFFFF; font-size:12px; margin-top:0px;">Permanently Affiliated to University of Mumbai, NAAC Accredited with CGPA of 2.45 at 'B' Grade</p>
            </marquee>
        </div>
    </div>
    <div class="search-top" style="height: 40px !important;">
        <div class="container_fluid">
            <div class="row" style="margin:0">
                <div class="col-md-12">
                    <div class="main-menu" style="height: 45px;margin-top: -10px;">
                        <ul style="float: none;">
                            <li><a href="index.html">Home</a>
                            </li>
                            <li class="cour-menu active">
                                <a href="#" class="mm-arr">About Us</a>
                                <!-- MEGA MENU 1 -->
                                <div class="mm-pos">
                                    <div class="cour-mm m-menu1" style="display: none;">
                                        <div class="m-menu-inn">
                                            <div class="mm1-com mm1-cour-com mm1-s3" style="border-right: none;">
                                                <!-- <h4>Frontend pages:1</h4> -->
                                                <ul>
                                                    <li><a href="#">About Sanstha</a></li>
                                                    <li><a href="#">About College</a></li>
                                                    <li><a href="#">Founder</a></li>
                                                    <li><a href="#">Vision & Mission</a></li>
                                                    <li><a href="#">College Development Committee</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="about-menu">
                                <a href="#" class="mm-arr">Programs</a>               
                                <div class="mm-pos">
                                    <div class="about-mm m-menu" style="display: none;">
                                        <div class="m-menu-inn">
                                            <div class="mm1-com mm1-s1">
                                                <div class="ed-course-in">
                                                    <a class="course-overlay menu-about" href="#">
                                                        <img src="images/dgt/photo7.JPG" alt="">
                                                        <!--<span>Academics</span>-->
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="mm1-com mm1-s2">
                                                <h4>B.A.</h4>
                                                <ul>
                                                    <li><a href="#">Marathi</a></li>
                                                    <li><a href="#">Political Science</a></li>
                                                    <li><a href="#">Geography</a></li>
                                                    <li><a href="#">Economics</a></li>
                                                </ul>
                                            </div>
                                            <div class="mm1-com mm1-s3">
                                                <ul>
                                                    <li><a href="#">B.Com</a></li>
                                                    <li><a href="#">M.A</a></li>
                                                    <li><a href="#">M.Com</a></li>
                                                    <li><a href="#">Other certificate Course in Yoga</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- <a href="about.html" class="mm-arr">About us</a>                                    -->
                            </li>
                            <li class="admi-menu">
                                <a href="#" class="mm-arr">Admission</a>
                                <!-- MEGA MENU 1 -->
                                <div class="admi-mm-pos">
                                    <div class="admi-mm m-menu1" style="display: none;">
                                        <div class="m-menu-inn">
                                            <div class="mm1-com mm1-cour-com mm1-s3" style="border-right: none;">
                                                <!-- <h4>Frontend pages:1</h4> -->
                                                <ul>
                                                    <li><a href="#">Examination</a></li>
                                                    <li><a href="#">Research</a></li>
                                                    <li><a href="#">Scholership</a></li>
                                                    <li><a href="#">Activities</a></li>
                                                    <li><a href="#">Code Conduct</a></li>
                                                    <li><a href="#">E-Resourse</a></li>
                                                    <li><a href="#">MOUs</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="dep-menu" >
                                <a href="#" class="mm-arr">Departments</a>               
                                <div class="mm-pos">
                                    <div class="dep-mm m-menu" style="display: none;">
                                        <div class="m-menu-inn">
                                            <div class="mm1-com mm1-s1">
                                                <div class="ed-course-in">
                                                    <a class="course-overlay menu-dep" href="#">
                                                        <img src="images/dgt/photo7.JPG" alt="">
                                                        <!--<span>Academics</span>-->
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="mm1-com mm1-s2">
                                                <h4>Arts</h4>
                                                <ul>
                                                    <li><a href="#">Department of Marathi</a></li>
                                                    <li><a href="#">Political Science</a></li>
                                                    <li><a href="#">Geography</a></li>
                                                    <li><a href="#">Economics</a></li>
                                                </ul>
                                            </div>
                                            <div class="mm1-com mm1-s3">
                                                <h4>Commerce</h4>
                                                <ul>
                                                    <li><a href="#">B.Com</a></li>
                                                    <li><a href="#">M.A</a></li>
                                                    <li><a href="#">M.Com</a></li>
                                                    <li><a href="#">Other certificate Course in Yoga</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- <a href="about.html" class="mm-arr">About us</a>                                    -->
                            </li>
                            <li class="infra-menu" >
                                <a href="#" class="mm-arr">Infrastructure</a>
                                <div class="infra-mm-pos">
                                    <div class="infra-mm m-menu1" style="display: none;">
                                        <div class="m-menu-inn">
                                            
                                            <div class="mm1-com mm1-cour-com mm1-s3" style="border-right: none;">
                                                <ul>
                                                    <li><a href="#">Main of Building</a></li>
                                                    <li><a href="#">Conference Hall</a></li>
                                                    <li><a href="#">Study Room</a></li>
                                                    <li><a href="#">Computer Lab</a></li>
                                                    <li><a href="#">Canteen</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>

                            <li class="iqac-menu" >
                                <a href="#" class="mm-arr">NAAC</a>
                                <div class="iqac-mm-pos">
                                    <div class="iqac-mm m-menu1" style="display: none;">
                                        <div class="m-menu-inn">
                                            
                                            <div class="mm1-com mm1-cour-com mm1-s3" style="border-right: none;">
                                                <ul>
                                                    <li><a href="#">IQAC Committee</a></li>
                                                    <li><a href="#">Vision & Mission</a></li>
                                                    <li><a href="#">AQAR Report</a></li>
                                                    <li><a href="#">SSR</a></li>
                                                    <li><a href="#">IQAC Minutes & ATR</a></li>
                                                    <li><a href="#">Other Documents</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                           
                            <li>
                                <a href="#">LIBRARY</a>
                            </li>
                            <li class="activity-menu" >
                                <a href="#" class="mm-arr">Co-curricular & Extension Activities</a>
                                <div class="mm-pos">
                                    <div class="activity-mm m-menu" style="display: none;">
                                        <div class="m-menu-inn">
                                            
                                            <div class="mm1-com mm1-com mm1-s3">
                                                <ul>
                                                    <li><a href="#">NSS</a></li>
                                                    <li><a href="#">DLLE</a></li>
                                                    <li><a href="#">Couture</a></li>
                                                    <li><a href="#">Sport</a></li>
                                                    <li><a href="#">Women EMP Cell</a></li>
                                                </ul>
                                            </div>
                                            <div class="mm1-com mm1-com mm1-s3">
                                                <ul>
                                                    <li><a href="#">Student Welfare</a></li>
                                                    <li><a href="#">Alumni</a></li>
                                                    <li><a href="#">Carrier Guides</a></li>
                                                    <li><a href="#">Competitive Exam</a></li>
                                                    <li><a href="#">Staff Academy</a></li>
                                                </ul>
                                            </div>
                                            <div class="mm1-com mm1-com mm1-s3">
                                                <ul>
                                                    <li><a href="#">Student Welfare</a></li>
                                                    <li><a href="#">Alumni</a></li>
                                                    <li><a href="#">Carrier Guides</a></li>
                                                    <li><a href="#">Competitive Exam</a></li>
                                                    <li><a href="#">Staff Academy</a></li>
                                                </ul>
                                            </div>
                                            <div class="mm1-com mm1-com mm1-s4">
                                                <ul>
                                                    <li><a href="#">Internal Complience Cell</a></li>
                                                    <li><a href="#">Anti-Ragging</a></li>
                                                    <li><a href="#">Grievance</a></li>
                                                    <li><a href="#">Redressed B.C. Cell</a></li>
                                                    <li><a href="#">Magazine Committee</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li><a href="contact.html">Contact Us</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--END HEADER SECTION-->
  
    <!--SECTION START-->
    <section>
        <div class="container com-sp pad-bot-70">
            <div class="row">
                <div class="cor about-sp">
                    <div class="ed-about-tit">
                        <div class="con-title">
                            <h2>Contact <span> Us</span></h2>
                            <p>Fusce id sem at ligula laoreet hendrerit venenatis sed purus. Ut pellentesque maximus lacus, nec pharetra augue.</p>
                        </div>
                    </div>
                    <div class="pg-contact">
                        
                        <div class="col-md-4 col-sm-6 col-xs-12 new-con new-con1"> <img src="img/contact/1.png" alt="">
                            <h4>Address</h4>
                            <p>28800 Orchard Lake Road, Suite 180 Farmington Hills, U.S.A.
                                <br>Landmark : Next To Airport</p>
                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-12 new-con new-con3"> <img src="img/contact/2.png" alt="">
                            <h4>CONTACT INFO:</h4>
                            <p> <a href="tel://0099999999" class="contact-icon">Phone: 01 234874 965478</a>
                                <br> <a href="tel://0099999999" class="contact-icon">Mobile: 01 654874 965478</a>
                                <br> <a href="mailto:mytestmail@gmail.com" class="contact-icon">Email: info@company.com</a> </p>
                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-12 new-con new-con4"> <img src="img/contact/3.png" alt="">
                            <h4>Website</h4>
                            <p> <a href="#">Website: www.mycompany.com</a>
                                <br> <a href="#">Facebook: www.facebook/my</a>
                                <br> <a href="#">Blog: www.blog.mycompany.com</a> </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--SECTION END-->

    <section id="map">
        <div class="row contact-map">
            <!-- IFRAME: GET YOUR LOCATION FROM GOOGLE MAP -->
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6290413.804893654!2d-93.99620524741552!3d39.66116578737809!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880b2d386f6e2619%3A0x7f15825064115956!2sIllinois%2C+USA!5e0!3m2!1sen!2sin!4v1469954001005"
                allowfullscreen=""></iframe>
            <div class="container">
                <div class="overlay-contact footer-part footer-part-form">
                    <div class="map-head">
                        <p>Send Us Now</p>
                        <h2>GetIn Touch</h2> <span class="footer-ser-re">Service Request Form</span> </div>
                    <!-- ENQUIRY FORM -->
                    <form id="contact_form" name="contact_form" action="send.php">
                        <ul>
                            <li class="col-md-6 col-sm-6 col-xs-12 contact-input-spac">
                                <input type="text" id="f1" value="" name="f1" placeholder="Name" required=""> </li>
                            <li class="col-md-6 col-sm-6 col-xs-12 contact-input-spac">
                                <input type="text" id="f2" value="" name="f2" placeholder="Phone" required=""> </li>
                            <li class="col-md-6 col-sm-6 col-xs-12 contact-input-spac">
                                <input type="text" id="f3" value="" name="f3" placeholder="City" required=""> </li>
                            <li class="col-md-6 col-sm-6 col-xs-12 contact-input-spac">
                                <input type="text" id="f4" value="" name="f4" placeholder="Country" required=""> </li>
                            <li class="col-md-12 col-sm-12 col-xs-12 contact-input-spac">
                                <textarea id="f5" name="f5" required=""></textarea>
                            </li>
                            <li class="col-md-6">
                                <input type="submit" value="SUBMIT"> </li>
                        </ul>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <!--SECTION END-->

    <!-- FOOTER -->
    <section class="wed-hom-footer">
        <div class="container">
            <!--<div class="row">
                <div class="col-md-12">
                <h4>About Wedding Planner</h4>
                <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum</p>
                <p>more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text</p>
                <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>
                <p></p>
              </div>
              </div>-->
            <div class="row wed-foot-link">
                <div class="col-md-4 foot-tc-mar-t-o">
                    <h4>Get In Touch</h4>
                    <p>Address: 28800 Orchard Lake Road, Suite 180 Farmington Hills, U.S.A.</p>
                    <p>Phone: <a href="#!">+101-1231-4321</a></p>
                    <p>Email: <a href="#!">info@educationmaster.com</a></p>
                </div>
                <div class="col-md-4">
                    <h4>Courses</h4>
                    <ul>
                        <li><a href="#">Sciences</a></li>
                        <li><a href="#">Statistics</a></li>
                        <li><a href="#">Web Design/Development</a></li>
                        <li><a href="#">SEO</a></li>
                        <li><a href="#">Google Business</a></li>
                        <li><a href="#">Graphics Design</a></li>
                        <li><a href="#">Networking Courses</a></li>
                        <li><a href="#">Information technology</a></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h4>HELP & SUPPORT</h4>
                    <ul>
                        <!-- <li><a href="#">24x7 Live help</a> -->
                        <!-- </li> -->
                        <li><a href="#">Contact us</a>
                        </li>
                        <li><a href="#">Feedback</a>
                        </li>
                        <li><a href="#">FAQs</a>
                        </li>
                        <li><a href="#">Safety Tips</a>
                        </li>
                    </ul>

                </div>
            </div>
            <!-- <div class="row wed-foot-link-1">
                <div class="col-md-4 foot-tc-mar-t-o">
                    <h4>Get In Touch</h4>
                    <p>Address: 28800 Orchard Lake Road, Suite 180 Farmington Hills, U.S.A.</p>
                    <p>Phone: <a href="#!">+101-1231-4321</a></p>
                    <p>Email: <a href="#!">info@educationmaster.com</a></p>
                </div>
                <div class="col-md-4">
                    <h4>DOWNLOAD OUR FREE MOBILE APPS</h4>
                    <ul>
                        <li><a href="#"><span class="sprite sprite-android"></span></a>
                        </li>
                        <li><a href="#"><span class="sprite sprite-ios"></span></a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h4>SOCIAL MEDIA</h4>
                    <ul>
                        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-youtube" aria-hidden="true"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-whatsapp" aria-hidden="true"></i></a>
                        </li>
                    </ul>
                </div>
            </div> -->
        </div>
    </section>

    <!-- COPY RIGHTS -->
    <section class="wed-rights">
        <div class="container">
            <div class="row">
                <div class="copy-right">
                    <p>Copyrights © All rights reserved.</p>
                </div>
            </div>
        </div>
    </section>

    <!--SECTION LOGIN, REGISTER AND FORGOT PASSWORD-->
    <section>
        <!-- LOGIN SECTION -->
       <!--  <div id="modal1" class="modal fade" role="dialog">
            <div class="log-in-pop">
                <div class="log-in-pop-left">
                    <h1>Hello...</h1>
                    <p>Don't have an account? Create your account. It's take less then a minutes</p>
                    <h4>Login with social media</h4>
                    <ul>
                        <li><a href="#"><i class="fa fa-facebook"></i> Facebook</a>
                        </li>
                        <li><a href="#"><i class="fa fa-google"></i> Google+</a>
                        </li>
                        <li><a href="#"><i class="fa fa-twitter"></i> Twitter</a>
                        </li>
                    </ul>
                </div>
                <div class="log-in-pop-right">
                    <a href="#" class="pop-close" data-dismiss="modal"><img src="images/cancel.png" alt="" />
                    </a>
                    <h4>Login</h4>
                    <p>Don't have an account? Create your account. It's take less then a minutes</p>
                    <form class="s12">
                        <div>
                            <div class="input-field s12">
                                <input type="text" data-ng-model="name" class="validate">
                                <label>User name</label>
                            </div>
                        </div>
                        <div>
                            <div class="input-field s12">
                                <input type="password" class="validate">
                                <label>Password</label>
                            </div>
                        </div>
                        <div>
                            <div class="s12 log-ch-bx">
                                <p>
                                    <input type="checkbox" id="test5" />
                                    <label for="test5">Remember me</label>
                                </p>
                            </div>
                        </div>
                        <div>
                            <div class="input-field s4">
                                <input type="submit" value="Login" class="waves-effect waves-light log-in-btn"> </div>
                        </div>
                        <div>
                            <div class="input-field s12"> <a href="#" data-dismiss="modal" data-toggle="modal" data-target="#modal3">Forgot password</a> | <a href="#" data-dismiss="modal" data-toggle="modal" data-target="#modal2">Create a new account</a> </div>
                        </div>
                    </form>
                </div>
            </div>
        </div> -->
        <!-- REGISTER SECTION -->
       <!--  <div id="modal2" class="modal fade" role="dialog">
            <div class="log-in-pop">
                <div class="log-in-pop-left">
                    <h1>Hello...</h1>
                    <p>Don't have an account? Create your account. It's take less then a minutes</p>
                    <h4>Login with social media</h4>
                    <ul>
                        <li><a href="#"><i class="fa fa-facebook"></i> Facebook</a>
                        </li>
                        <li><a href="#"><i class="fa fa-google"></i> Google+</a>
                        </li>
                        <li><a href="#"><i class="fa fa-twitter"></i> Twitter</a>
                        </li>
                    </ul>
                </div>
                <div class="log-in-pop-right">
                    <a href="#" class="pop-close" data-dismiss="modal"><img src="images/cancel.png" alt="" />
                    </a>
                    <h4>Create an Account</h4>
                    <p>Don't have an account? Create your account. It's take less then a minutes</p>
                    <form class="s12">
                        <div>
                            <div class="input-field s12">
                                <input type="text" data-ng-model="name1" class="validate">
                                <label>User name</label>
                            </div>
                        </div>
                        <div>
                            <div class="input-field s12">
                                <input type="email" class="validate">
                                <label>Email id</label>
                            </div>
                        </div>
                        <div>
                            <div class="input-field s12">
                                <input type="password" class="validate">
                                <label>Password</label>
                            </div>
                        </div>
                        <div>
                            <div class="input-field s12">
                                <input type="password" class="validate">
                                <label>Confirm password</label>
                            </div>
                        </div>
                        <div>
                            <div class="input-field s4">
                                <input type="submit" value="Register" class="waves-effect waves-light log-in-btn"> </div>
                        </div>
                        <div>
                            <div class="input-field s12"> <a href="#" data-dismiss="modal" data-toggle="modal" data-target="#modal1">Are you a already member ? Login</a> </div>
                        </div>
                    </form>
                </div>
            </div>
        </div> -->
        <!-- FORGOT SECTION -->
       <!--  <div id="modal3" class="modal fade" role="dialog">
            <div class="log-in-pop">
                <div class="log-in-pop-left">
                    <h1>Hello... </h1>
                    <p>Don't have an account? Create your account. It's take less then a minutes</p>
                    <h4>Login with social media</h4>
                    <ul>
                        <li><a href="#"><i class="fa fa-facebook"></i> Facebook</a>
                        </li>
                        <li><a href="#"><i class="fa fa-google"></i> Google+</a>
                        </li>
                        <li><a href="#"><i class="fa fa-twitter"></i> Twitter</a>
                        </li>
                    </ul>
                </div>
                <div class="log-in-pop-right">
                    <a href="#" class="pop-close" data-dismiss="modal"><img src="images/cancel.png" alt="" />
                    </a>
                    <h4>Forgot password</h4>
                    <p>Don't have an account? Create your account. It's take less then a minutes</p>
                    <form class="s12">
                        <div>
                            <div class="input-field s12">
                                <input type="text" data-ng-model="name3" class="validate">
                                <label>User name or email id</label>
                            </div>
                        </div>
                        <div>
                            <div class="input-field s4">
                                <input type="submit" value="Submit" class="waves-effect waves-light log-in-btn"> </div>
                        </div>
                        <div>
                            <div class="input-field s12"> <a href="#" data-dismiss="modal" data-toggle="modal" data-target="#modal1">Are you a already member ? Login</a> | <a href="#" data-dismiss="modal" data-toggle="modal" data-target="#modal2">Create a new account</a> </div>
                        </div>
                    </form>
                </div>
            </div>
        </div> -->
    </section>

    <!-- SOCIAL MEDIA SHARE -->
    <!-- <section>
        <div class="icon-float">
            <ul>
                <li><a href="#" class="sh">1k <br> Share</a> </li>
                <li><a href="#" class="fb1"><i class="fa fa-facebook" aria-hidden="true"></i></a> </li>
                <li><a href="#" class="gp1"><i class="fa fa-google-plus" aria-hidden="true"></i></a> </li>
                <li><a href="#" class="tw1"><i class="fa fa-twitter" aria-hidden="true"></i></a> </li>
                <li><a href="#" class="li1"><i class="fa fa-linkedin" aria-hidden="true"></i></a> </li>
                <li><a href="#" class="wa1"><i class="fa fa-whatsapp" aria-hidden="true"></i></a> </li>
                <li><a href="#" class="sh1"><i class="fa fa-envelope-o" aria-hidden="true"></i></a> </li>
            </ul>
        </div>
    </section> -->

    <!--Import jQuery before materialize.js-->
    <script src="js/main.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/materialize.min.js"></script>
    <script src="js/custom.js"></script>
</body>

</html>

<style>
.red_topNav 
{
clear: both;
position: relative;
z-index: 1001;
height: 24px;
background: url(../sites/all/themes/iist/images/red_navBg.gif) repeat-x 0 100% #2e7464;
}
</style>